.skills-container {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1.5fr 1.5fr;
  grid-gap: 20px;

  .title {
    margin-top: 0px;
  }

  .category {
    margin-top: 0px;
    color: #f300b4;
    font-size: 18px;
  }

  .list {
    margin-top: 0px;
    padding: 0px;
  }
  .item {
    margin-right: 20px;
    list-style-type: none;
  }
}

@media (max-width: 600px) {
  .skills-container {
    display: grid;
    grid-template-columns: 1fr;
  }
}
