.about-container {
  display: grid;
  grid-template-columns: 1fr 6fr;
  // grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;

  .title {
    margin-top: 0px;
  }

  .about-me > p {
    margin-top: 0px;
  }
}

@media (max-width: 600px) {
  .about-container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .about-me > p {
    font-size: 14px;
  }
}
