.project-container {
  // border: 1px solid #ececec;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin: 0px 0px 20px;
  position: relative;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image > img {
  opacity: 1;
  display: block;
  width: 100%;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.4;
}

.container:hover .middle {
  opacity: 1;
}

.content {
  padding: 5px 20px 20px;

  .title > h3 {
    color: #f300b4;
    font-size: 20px;
    margin: 20px 0px 10px;
  }
  .sub > p {
    font-style: italic;
    font-size: 16px;
    margin: 5px 0px 10px;
  }
  .text > p {
    font-size: 16px;
    margin: 5px 0px 0px;
  }

  @media screen and (max-width: 600px) {
    .title > h3 {
      font-size: 18px;
    }
    .sub > p {
      font-size: 14px;
    }
    .text > p {
      font-size: 14px;
    }
  }
}

.buttons {
  .link {
    display: inline-block;
    width: 100px;
    letter-spacing: 0.5px;
    font-size: 16px;
    background: #f300b4;
    padding: 10px;
    margin: 0px 20px 20px 0px;
    color: White;
    text-transform: uppercase;
    font-weight: bolder;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    text-decoration: none;
  }
  .link:hover {
    background: #ececec;
    color: #333333;
  }

  @media screen and (max-width: 600px) {
    .link {
      font-size: 12px;
      padding: 5px;
      margin: 0px 10px 10px 0px;
    }
  }
}
